body {
  background-color: rgb(216, 240, 249);
  font-family: monospace;
  color: rgb(41, 44, 49);
}
h1 {
  text-align: center;

  font-size: 36px;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.container {
  max-width: 600px;
  background: white;
  padding: 30px;
  box-shadow: rgba(40, 40, 155, 0.1) 0px 8px 24px,
    rgba(48, 48, 177, 0.1) 0px 16px 56px, rgba(30, 30, 169, 0.1) 0px 24px 80px;
  border-radius: 60px;
  margin: 60px auto;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
.date {
  opacity: 0.7;
}
